a {
    color: black;
}

h1 {
    font-family: "Big Caslon";
    font-size: 3rem;
    margin: 5rem 0 8rem;
}

h2 {
    font-family: "Big Caslon";
    font-size: 2.25rem;
    font-weight: lighter;
}

h4 {
    font-family: "Big Caslon";
    font-size: 1.25rem;
    font-weight: lighter;
}

hr {
    border-color: black;
    border-width: .5px;
}

li {
    font-family: "Inter";
    padding-bottom: 5%;
}

img {
    width: 15%;
}

body {
    background: radial-gradient(#DFAF9A, #C4D6E4);
}

.images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10%;
}

.triggersFeedback, .loopsRules {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 600px;
}

.hoverStates {
    width: 85%;
    margin-left: 7%;
}